@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Press+Start+2P&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-yellow-100;
    @apply overflow-y-auto
  [&::-webkit-scrollbar]:w-1.5
  [&::-webkit-scrollbar-track]:bg-transparent
  [&::-webkit-scrollbar-thumb]:bg-yellow-500;
  }
  h5 {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    @apply text-yellow-900;
  }
}

@layer components {
  .pixel-font {
    font-family: "Press Start 2P", system-ui;
    font-weight: 100;
    font-style: normal;
    @apply text-xs;
  }
}

.custom-scrollbar {
  @apply overflow-y-auto
  [&::-webkit-scrollbar]:w-1
  [&::-webkit-scrollbar-track]:bg-transparent
  [&::-webkit-scrollbar-track]:mt-[12.8rem]
  [&::-webkit-scrollbar-thumb]:bg-yellow-500;
}

/* Custom cursor for pixel theme */
html,
body,
*,
button,
a,
input,
.disabled,
a:disabled,
input:disabled {
  cursor: url("/cursor.png"), auto;
}

.cursor-click,
button:hover,
a:hover,
input:hover,
Link:hover,
.hover:hover {
  cursor: url("/cursor-click.png"), auto;
}
